{% extends "base.html.twig" %}

{% block title %}ForumBundle:Question:create{% endblock %}

{% block body %}
<h1>Welcome to the Question:create page</h1>


    {{ form_start(form) }}
    titre  {{ form_widget(form.titre) }}</br>
    contenu {{ form_widget(form.contenu) }}</br>
    nbr de vue {{ form_widget(form.nbrVue) }}</br>
    tag {{ form_widget(form.tag) }}</br>
    Save {{ form_widget(form.save) }}</br>
    {{ form_end(form) }}







    {#{{ form_start(form) }}#}
    {#Tag  {{ form_widget(form.tag) }}</br>#}
    {#titre {{ form_widget(form.titre) }}</br>#}
    {#contenu {{ form_widget(form.contenu) }}</br>#}
    {#nbr de vue {{ form_widget(form.nbrVue) }}</br>#}
    {#Save {{ form_widget(form.save) }}</br>#}
    {#{{ form_end(form) }}#}
{% endblock %}
