{% extends "base.html.twig" %}

{% block title %}ForumBundle:Question:read{% endblock %}

{% block body %}
<h1>Welcome to the Question:read page</h1>


    <center>

        {#<button id="btnA" >Ajouter </button>#}

        <br><br><br>


        <td><a href="{{ path('create') }}">Ajouter une question</a></td>

        <br><br><br>


        <table border="1" id="table01">
            <tr><th>titre</th><th>tag</th><th>nbr de vue</th><th>Action</th></tr>
            {% for modele in modeles %}
                <tr>
                    <td>{{ modele.titre }}</td>
                    <td>{{ modele.tag }}</td>
                    <td>{{ modele.nbrVue }}</td>
                    <td><a href="{{ path('update',{'id':modele.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('delete',{'id':modele.id}) }}">Supp</a></td>


                </tr>
            {% endfor %}
        </table>


    </center>
{% endblock %}
