{% extends "base.html.twig" %}

{% block title %}ForumBundle:Question:update{% endblock %}

{% block body %}
<h1>Welcome to the Question:update page</h1>

    <center>
        <fieldset style="width: 50%">
            <form method="POST">
                Titre: <input type="text" name="titre" value="{{
                modele.titre }}">
                <br>
                Tag: <input type="text" name="tag" value="{{ modele.tag
                }}"></br>

                <input type="submit" value="Enregistrer">
            </form>
        </fieldset>
    </center>

{% endblock %}
